Code/
discord/
Deskreen/
google-chrome/
logs/
Electron/
gh/
gh
pulse/
*.backup
.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.fehbg
.gitconfig
.local/
.mozilla/
.profile
.rustup/
.shell.pre*
.vscode-oss/
.zcomp*
.zsh_history
.zshrc.pre-oh*
.Xauthority
